<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        



        <div class="navbar-header">

          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
               
            <li class="dropdown">
              
              
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"> Bootswatchista löytyvät ilmaiset teemat<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="https://bootswatch.com/default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="https://bootswatch.com/cerulean/">Cerulean</a></li>
                <li><a href="https://bootswatch.com/cosmo/">Cosmo</a></li>
                <li><a href="https://bootswatch.com/cyborg/">Cyborg</a></li>
                <li><a href="https://bootswatch.com/darkly/">Darkly</a></li>
                <li><a href="https://bootswatch.com/flatly/">Flatly</a></li>
                <li><a href="https://bootswatch.com/journal/">Journal</a></li>
                <li><a href="https://bootswatch.com/lumen/">Lumen</a></li>
                <li><a href="https://bootswatch.com/paper/">Paper</a></li>
                <li><a href="https://bootswatch.com/readable/">Readable</a></li>
                <li><a href="https://bootswatch.com/sandstone/">Sandstone</a></li>
                <li><a href="https://bootswatch.com/simplex/">Simplex</a></li>
                <li><a href="https://bootswatch.com/slate/">Slate</a></li>
                <li><a href="https://bootswatch.com/solar/">Solar</a></li>
                <li><a href="https://bootswatch.com/spacelab/">Spacelab</a></li>
                <li><a href="https://bootswatch.com/superhero/">Superhero</a></li>
                <li><a href="https://bootswatch.com/united/">United</a></li>
                <li><a href="https://bootswatch.com/yeti/">Yeti</a></li>
              </ul>
            </li>
          </ul>
         
       <a href="https://angular.io/" class="navbar-brand">Angular</a>
          <a href="http://getbootstrap.com/" class="navbar-brand">Bootstrap</a>
          <a href="https://bootswatch.com/" class="navbar-brand">Bootswatch</a>
         
        </div>
      </div>
    </div>

  <div class="container">
    <div class="jumbotron">
      <h1>Angular demo </h1>
       <h2> Yksinkertainen sivupohja joka on toteutettu Angular 2-frameworkilla  </h2>
    </div>
      <div class="panel panel-primary">    
        <div class="panel-heading">
          <h3>  Tekijä </h3>
        </div> 
       <div class="panel-body">

       Petri Lamminaho 

       </div>
    
    <div class="panel-heading">
         <h3> Tekniikat</h3>
        </div> 
       <div class="panel-body">

    <ul class="list-unstyled">

      <li>Html5</li> 
      <li> Angular 2</li>
      <li> Bootstrap </li>
      <li> Typescript </li>

    </ul>
       </div>
       </div>

      </div>



    <footer class="footer">
      <div class="container">
       <p> <span class="text-muted">Tekijä: Petri Lamminaho</span> </p>
       <p> <span class="text-muted"> Ota yhteytta: lammpe77@gmail.com </span> </p>
      </div>
    </footer>


<!--
<div class="navbar navbar-default navbar-fixed-bottom">
   <div class="container">
      <p>Tekijä: Petri Lamminaho</p>
      <p>Ota yhteytta: lammpe77@gmail.com</p>
   </div>

</div>
-->

